.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
}

.backButton {
    width: 30% !important;
}

.logout-button {
    width: 30% !important;
    float: right;
}

@media (min-width: 576px) {
    .container {
        margin-top: 10%;
        max-width: 70% !important;
    }
}

@media (max-width: 768px) {
    .backButton {
        width: 50% !important;
    }
}