.report-container {
    padding: 2rem;
}

.report-content {
    margin-top: 2rem;
}

.report-item {
    margin-bottom: 2rem;
}


.download-button {
    width: 30% !important;
    margin-left: 10px;
}

.backButton {
    width: 30% !important;
}

.logout-button {
    width: 30% !important;
    float: right;
}